.idea
.vscode
.DS_Store
*.swp
*.swo
bhojpur.iml

test/tmp/

my save path/

profile.out


# Back end
Gemfile.lock
gin-bin
tmp
worker_data
*.exe
/test/integration/integration
/test/integration/public
dump.rdb

# Example
/example/example
/example/public
/example/harp.json

/admin/public/

# Front end
bower_components
node_modules
__*
*.css.map
*.js.map
*.min.map
.sass-cache
npm-debug.log
yarn-error.log