{{if .CurrentUser}}
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-navigation mdl-layout--small-screen-only bhojpur-mobile--show-actions">{{t "bhojpur_admin.layout.header.actions" "Actions"}} <i class="material-icons">arrow_drop_down</i></button>
{{end}}