.mdl-button {
    font-size: 12px;
}
.bhojpur-actions {
    float: left;
    min-height: 32px;
    margin-right: 8px;
    padding: 8px 0;
    @include clearfix();

    &:first-child {
        .bhojpur-selector {
            margin-left: 0;
        }
    }

    &:last-child {
        margin-right: 0;
    }
    .mdl-button {
        padding: 0 8px;
    }

    .bhojpur-selector,
    .bhojpur-action--text,
    .bhojpur-action--label,
    .bhojpur-action--select,
    .bhojpur-action--button {
        float: left;
    }
}

.bhojpur-action--select {
    height: 32px;
    border: 2px solid unquote('rgb(#{$color-primary})');
}

.bhojpur-action--label {
    display: inline-block;
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    line-height: 28px;
    color: unquote('rgba(#{$color-black}, 0.54)');
    background-color: #fff;
    border: 2px solid unquote('rgba(#{$color-black}, 0.12)');
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        color: unquote('rgba(#{$color-black}, 0.54)');
    }

    &.is-active {
        padding-right: 0;
        color: unquote('rgba(#{$color-black}, 0.87)');
        border-color: unquote('rgb(#{$color-primary})');
    }

    > i {
        display: inline-block;
        width: 30px;
        height: 28px;
        margin-left: 6px;
        padding-left: 2px;
        font-size: 16px;
        line-height: 28px;
        background-color: unquote('rgb(#{$color-primary})');
        color: #fff;
        text-align: center;
        vertical-align: top;
    }

    + .bhojpur-action--select,
    + .bhojpur-action--label {
        margin-left: 8px;
    }
}
.bhojpur-action-bulk-buttons,
.bhojpur-action-forms {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0;
}
.bhojpur-action--button {
    height: 32px;
    line-height: 32px;

    + .bhojpur-action--button {
        margin-left: 8px;
    }
}

.bhojpur-action-bulk-edit {
    float: left;
    margin-right: 16px;
}
.bhojpur-action-forms {
    padding-bottom: 0;
    .bhojpur-form__actions {
        margin-top: 0;
    }
    > .bhojpur-action-button {
        margin-right: 24px;
        margin-bottom: 8px;
    }
    > .action-form {
        margin-right: 24px;
    }
    > .action-form,
    .bhojpur-form-section,
    .bhojpur-form__actions {
        display: inline-block;
        vertical-align: baseline;
    }
    .bhojpur-form__actions {
        .mdl-button {
            float: none;
        }
    }
}

.bhojpur-action-disabled{
    background-color: rgba(0,0,0,.12) !important;
    box-shadow: none !important;
    color: rgba(0,0,0,.2) !important;
}