@import "variables";
@import "mixins";
.bhojpur-modal {
    &.shown,
    &.is-shown {
        display: block !important;
    }
    &.hidden,
    &.is-hidden {
        display: none !important;
    }
    &.fade {
        opacity: 0;
        transition: opacity .2s linear;
        &.in {
            opacity: 1;
        }
    }
}

@import "bhojpur/bhojpur-filter";
@import "bhojpur/datepicker";
@import "bhojpur/bhojpur-datepicker";
@import "bhojpur/bhojpur-modal";