<div class="bhojpur-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="bhojpur-field__label mdl-textfield__label" for="{{.InputId}}">
      {{meta_label .Meta}}
    </label>

    <div class="bhojpur-field__show">
      {{.Value}}
    </div>

    <div class="bhojpur-field__edit">
      <input class="mdl-textfield__input" type="number" step="any" id="{{.InputId}}" name="{{.InputName}}" value="{{.Value}}" {{if not (has_change_permission .Meta) }}disabled{{end}}>
    </div>
  </div>
</div>